body {
  margin: 0;
  padding: 0;
  background-image:url('./ghibliBackground.webp');
  background-size: cover;
}

.pageTitle{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.loading {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
}
